<% layout("/layouts/boilerplate") -%>

    

    <div class="row">
        <div class="col-8 offset-2">
            <h2>Create new listing</h2>

            <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" placeholder="enter your title" class="form-control" name="listing[title]"
                    required>
                    <div class="invalid-feedback">please enter a meaningful title</div>
                    <div class="valid-feedback">It look good!</div>
                    <br>
                    
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control"
                        placeholder="write a description" required></textarea>
                        <div class="invalid-feedback">Field should not be empty</div>
                    <br>

                    
                </div>
                
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input type="file" name="listing[image]" class="form-control " required>
                    
                    <br>
                    
                </div>
                    <div class="row">
                        <div class="mb-3 col-md-4 ">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" placeholder="enter the amount" class="form-control "
                                name="listing[price]" required>
                                <div class="invalid-feedback">Please enter the price more than 0</div>
                        </div>
                        <div class="mb-3 col-md-8" >
                            <label for="country" class="form-label">Country</label>
                            
                            <input type="text" placeholder="Country" name="listing[country]" class="form-control" required>
                            <div class="invalid-feedback">Please enter the country name</div>
                        </div>

                    </div>


                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" placeholder="Location" name="listing[location]" required>
                        <div class="invalid-feedback">Field can't be empty</div>
                        <br>
                        
                    </div>

                    <br>
                    <button class="btn btn-dark add-btn mt-3">Add</button>
            </form>
        </div>
    </div>    
