<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-6 offset-3">
        <h3 class="col-6 offset-3">Signup for Airbnb</h3>
        <form action="/signup" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text"  class="form-control" name="username" id="username"
                required>
                <div class="invalid-feedback">please enter a username</div>
                <div class="valid-feedback">It look good!</div>
                <br>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email"  class="form-control" name="email" id="email"
                required>
                <div class="invalid-feedback">please enter a email</div>
                <br>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">password</label>
                <input type="password"  class="form-control" name="password" id="password"
                required>
                <div class="invalid-feedback">please enter a password</div>
                <br>
            </div>
            <button class="signin btn-green">Signup</button>
             
        </form>
    </div>
</div>